.zen-client {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #c1dbc1;
}

.zen-client:hover {
  background-color: #beeebe;
}

.zen-client-data {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.zen-client-data .primary {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
}

.zen-client-data .secondary {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.zen-client .id {
  font-size: 14px;
  font-weight: 500;
  justify-self: center;
}

.zen-client .name {
  font-size: 15px;
  font-weight: 500;
}

.zen-client .gender,
.zen-client .dob {
  font-size: 13px;
  text-align: left;
}

.zen-client .phone,
.zen-client .email {
  font-size: 12px;
  font-style: italic;
  text-align: right;
}
