.zen-order-blueprint {
  background-color: #fafafa;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.blueprint-invoice-wrapper {
  width: 100%;
  height: 100%;
  grid-column: 2 / 3;
  overflow: auto;
}

.blueprint-invoice {
  background-color: white;
  margin: 32px 12px;
  padding: 80px 48px;
  min-height: 1000px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.invoice-dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.invoice-receipt-date,
.invoice-appointment-date {
  font-size: 12px;
  font-weight: 100;
  margin: 8px 0;
}

.invoice-logo {
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #263238;
}

.invoice-logo-image {
  width: 100%;
  height: 100%;
}

.invoice-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 20px 20px;
  font-size: 12px;
  font-weight: 100;
  margin: 16px 0;
}

.invoice-details .right-aligned {
  text-align: end;
}

.invoice-products {
  width: 100%;
  margin-top: 40px;
  border-collapse: collapse;
}

.invoice-products-header {
  background: #efefef;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.invoice-products-header tr {
  height: 36px;
}

.invoice-products th {
  width: 8%;
}

.invoice-products th.description {
  width: 60%;
}

.invoice-product {
  height: 40px;
  font-size: 12px;
  font-weight: 100;
  text-align: center;
}

.invoice-product input {
  width: calc(100% - 30px);
  margin: 8px 0;
  padding: 12px;
  font-size: 12px;
}

.invoice-product ::placeholder {
  color: darkslategrey;
}

.order-total {
  height: 60px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: bolder;
}

.product-actions {
  margin-top: 20px;
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
}

.product-actions .save-order,
.product-actions .add-product {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  width: 120px;
  height: 44px;
  margin: 8px 0;
}

.product-actions .save-order {
  background-color: #43a047;
  border: none;
  color: white;
}

.product-actions .add-product {
  background-color: white;
  border: 2px solid #39983d;
  color: #39983d;
}

.product-actions .save-order:hover {
  background-color: #39983d;
}

.product-actions .add-product:hover {
  background-color: #ccf0ce;
}

.product-actions .save-order:disabled {
  cursor: not-allowed;
  background-color: #39983d99;
}
