.zen-order-appointment {
  background-color: #fafafa;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.appointment-invoice-wrapper {
  width: 100%;
  height: 100%;
  grid-column: 2 / 3;
  overflow: auto;
}

.appointment-invoice {
  background-color: white;
  margin: 32px 12px;
  padding: 32px;
  min-height: 1200px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
