.zen-order {
  display: grid;
  grid-template-rows: 20px 20px 20px;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #c1dbc1;
}

.zen-order:hover {
  background-color: #beeebe;
}

.zen-order .order-id {
  font-size: 14px;
  font-weight: 600;
}

.zen-order .order-client {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 100;
}

.zen-order .order-dates {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  font-weight: 100;
}
